<button class="bg-gray-900 hover:bg-gray-800 text-white rounded px-4 py-2">tailwind</button>

<button class="btn">daisyUI</button>

<button class="btn btn-secondary">btn btn-secondary</button>

<h1 class="text-3xl font-bold">例のサンバを当てるゲーム</h1>
<br>
<h2 class="text-2xl font-bold">再生した曲がどれかを選択してください</h2>

<div class="audio-controls flex space-x-2">
  <button id="playButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Play
  </button>
</div>
<audio id="audioPlayer" class="hidden">
  <source src="<%= @random_song.preview_url %>" type="audio/mpeg">
</audio>

<%# 曲のタイトル一覧 %>
<%= form_with url: check_answer_sambas_path, local: true, method: :post, id: "quiz-form" do |form| %>
  <% @songs_options.each do |song| %>
    <%= form.radio_button :song_id, song.id, id: "song_#{song.id}" %>
    <%= form.label "song_#{song.id}", song.name %><br>
  <% end %>
  <%= form.submit '回答' %>
<% end %>