<%= link_to t('sambas.neko'), nekosamba_index_path, class: "bg-red-300 hover:bg-red-200 text-white text-xs max-w-xs py-1 px-4 rounded font-nekosamba", id: "pawModeButton" %>
<div class="flex flex-col items-center justify-center min-h-screen mx-auto px-4 pb-16 font-samba">
  <h1 class="bg-yellow-500 text-white text-2xl font-bold py-2 px-4 my-1 rounded"><%= t('sambas.title') %></h1>
  <h2 class="bg-yellow-500 text-white text-xl font-bold py-2 px-4 my-1 rounded"><%= t('sambas.subtitle') %></h2>
  <% if flash[:alert] %>
  <div class="alert bg-red-500 text-white text-xl font-bold text-center py-2 px-4 rounded">
    <%= flash[:alert] %>
  </div>
  <% end %>
  <div class="audio-controls flex space-x-2">
    <button id="playButton" class="bg-fuchsia-100 hover:bg-gray-100 text-yellow-500 font-bold py-2 px-4 rounded">
      <%= t('sambas.play_button') %>
    </button>
  </div>
  <audio id="audioPlayer" class="hidden">
  <source src="<%= @preview_url %>" type="audio/mpeg">
  </audio>

  <%# 曲のタイトル一覧 %>
  <%= form_with url: check_answer_sambas_path, local: true, method: :post, id: "quiz-form" do |form| %>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-1">
      <% @songs_options.each do |song| %>
        <div class="song-option bg-yellow-500 hover:bg-yellow-600 active:bg-yellow-400 text-white font-bold py-2 px-4 rounded cursor-pointer my-1 text-sm sm:text-base" data-song-id="<%= song.id %>">
        <%= I18n.t("songs.#{song.id}.track_name", default: song.track_name) %>
        </div>
    <% end %>
    </div>
    <%= form.hidden_field :song_id, id: "selected_song_id" %>
    <div class="flex justify-center items-center">
      <%= form.submit t('sambas.submit_button'), class: "bg-fuchsia-100 hover:bg-gray-100 text-yellow-500 font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>
