<div class="flex flex-col items-center justify-center min-h-screen mx-auto px-4">
  <h1 class="bg-yellow-500 text-black text-2xl font-bold py-2 px-4 rounded">例のサンバを当てるゲーム</h1>
  <br>
  <h2 class="bg-yellow-500 text-black text-2xl font-bold py-2 px-4 rounded">再生された曲を当ててください</h2>
<br>
  <div class="audio-controls flex space-x-2">
    <button id="playButton" class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-2 px-4 rounded">
      再生
    </button>
  </div>
  <audio id="audioPlayer" class="hidden">
  <source src="<%= @preview_url %>" type="audio/mpeg">
  </audio>

  <%# 曲のタイトル一覧 %>
  <%= form_with url: check_answer_sambas_path, local: true, method: :post, id: "quiz-form" do |form| %>
    <% @songs_options.each do |song| %>
      <div class="song-option bg-yellow-500 hover:bg-yellow-600 active:bg-yellow-400 text-white font-bold py-2 px-4 rounded cursor-pointer my-2" data-song-id="<%= song.id %>">
        <%= song.track_name %>
      </div>
    <% end %>
    <%= form.hidden_field :song_id, id: "selected_song_id" %>
    <div class="flex justify-center items-center">
      <%= form.submit '回答', class: "bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>